
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <p class="text-primary">You email is successfully varified</p>
    <a class="btn btn-primary px-3" asp-action="Login" asp-controller="Account">Click here to login</a>
</div>

